body{
    background-color: white;
    padding-top: 65px; 
}
#home-page{
    background-image: url("https://media.istockphoto.com/photos/pop-corn-and-on-red-armchair-cinema-picture-id1271522601?k=20&m=1271522601&s=170667a&w=0&h=L2a4QSIulE5PyABz4DsIUrBhctk7Wj18quOXmzbVTuM=");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(247, 203, 58);
}

#container{
 margin-bottom: 9px;
}

.ratingButton{
    margin: 9px;
}
#modeButton{
    margin: 8px;
}


.navbar-brand img{
    height:50px;
    width:50px;
}

#movie-backdrop {
    width: 100%;
}

#home-page{
    height: 100vh;
    text-align: center;
    text-shadow: #1a0c0c 3px;
    align-items: center;
}

footer{
   bottom: 0;
   width: 100%; 
   background-color: #9ab0bf;
}


#home-page>h1{
    font-size: 70px;
    padding: 20px;
    animation: slide-out 2.5s; 
  
}
#home-page>h3{
    font-size:50px;
    margin: 40px;
    padding: 20px;
    animation: slide-out 3s; 
}
#home-page>p{
    font-size:30px;
    margin: 40px;
    padding: 20px;
    animation: slide-out 4s; 
}

@keyframes slide-out {
    0% { transform: translateY(300%); }
    100% { transform: translateY(0%); }
}

.container {
    padding-top: 32px;
   
    /* display: flex;
    flex-direction: row; */
}

.movieImage{
    width: 100%;
   
}

.movieDiv{
    height: calc(100vh/2);
    width: 30%;
    border: 1px solid rgba(119, 114, 114, 0.668);
    /* box-shadow: 10px 10px 8px #888888; */
    margin: 5px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(92, 227, 232, 0.856);
}
.movieDiv:hover {
    transform: scaleX(1.3) scaleY(1.3);
   
  }
.actorDiv{
    overflow-x: scroll;
    display: flex;
}


.actorsDiv{
    border: 1px solid rgba(119, 114, 114, 0.668);
    box-shadow: 10px 10px 8px #888888; 
    overflow:hidden ;
}
.actorsDiv:hover{
    transform:  scaleX(1.3) scaleY(1.3);
}

.allActors{
    margin-top:8px;
}



